@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cosmic Sans MS";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

iframe {
  max-width: 100%;
}
